<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script data-main="scripts/main" src="scripts/lib/require.js"></script>
		<link rel="stylesheet" href="scripts/lib/leaflet.css" />
		<link rel="stylesheet" href="scripts/lib/leaflet.awesome-markers.css" />
		<link rel="stylesheet" href="scripts/lib/L.Control.Locate.min.css" />
		<link rel="stylesheet" href="resources/css/clusterpies.css" />
	</head>
	<body style="margin: 0%">
		<div id="map" style="height: 100%;"></div>
	</body>
</html>